aiohttp==3.7.4.post0
async-timeout==3.0.1
attrs==21.4.0
certifi==2022.6.15
chardet==4.0.0
charset-normalizer==2.1.0
colorama==0.4.5
discord-webhook==0.16.3
discord.py @ git+https://github.com/Rapptz/discord.py@c7e589033df300d0b305ca43ff7f1de361c9c4af
idna==3.3
multidict==6.0.2
pycryptodome==3.15.0
qrcode==7.3.1
requests==2.28.1
typing_extensions==4.3.0
urllib3==1.26.10
yarl==1.7.2
